/* Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #121e2d;

    font-family: 'Playfair Display';
    color: #c4d0de;
}

body hr {
    height: 1px;
    background: linear-gradient(90deg, rgba(196, 208, 222, 0) 0%, rgba(168, 192, 219, 0.5) 50%, rgba(196, 208, 222, 0) 100%);
    margin: 10px 0;
}

/* header/navbar */
header {
    padding: 40px 150px;
    font-size: 20px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul * {
    display: flex;
}

.navlist * {
    margin-left: 20px;
}

header nav li a {
    transition: color 0.5s;
}
header nav li a:hover {
    color: #fff;
    cursor: pointer;
}

/* hero */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main section {
    padding: 20px 150px;
}

main section div {
    padding: 50px 0px;
    font-size: 20px;
}
.maintext {
    font-family: 'akira_expandedsuper_bold';
    font-size: 9rem;
    font-weight: 600;
    font-stretch: expanded;
    text-transform: uppercase;
}

.subtext {
    font-size: 4rem;
}

/* skill-summary */

.skill-summary {
    text-align: center;
    margin: 0px auto;
}

.skill-summary span {
    display: flex;
    justify-content: space-around;
}

.skill-summary li {
    list-style: none;
    padding: 0px 20px;
}

/* subsections */
.about, .skills, .projects {
    background-color: #c4d0de;
    color: #121e2d;
}

.about h1, .skills h1, .projects h1 {
    font-weight: 600;
    font-size: 25px;
}

/* footer */
footer {
    padding: 60px 150px;
    font-size: 15px;
    font-family: 'Playfair Display';
}

footer nav ul {
    display: flex;
    justify-content: space-between;
}

footer nav ul * {
    display: flex;
}

.footlist * {
    margin-right: 20px;
}

footer nav li a {
    transition: color 0.5s;
}
footer nav li a:hover {
    color: #fff;
    cursor: pointer;
}